<!--prettier-ignore-->
{% extends 'base.html' %} 
{% load static %}

{% block title %} 
  Administrar cursos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/manage_courses.css' %}" />
{% endblock head %} {% block content %}
<div class="row">
  <!--Add Course-->
  <section class="col col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
    <h3 class="h1">Agregar Curso</h3>
    <div class="card mt-4 text-center">
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endif %}
        <form method="POST" action="{% url 'academico:add_course' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input
              type="text"
              id="course_name"
              name="course_name"
              class="form-control"
              placeholder="Nomre del curso"
            />
            <label for="course_name">Nombre del curso</label>
          </div>
          <div class="form-group mb-3">
            <input
              type="number"
              id="credits"
              name="credits"
              class="form-control"
              placeholder="Creditos"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row p-3">
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
      {% endfor %}
    </div>
  </section>

  <!--List-->
  <section class="col col-12 col-md-6 col-lg-8">
    <h3 class="h1">Lista de cursos</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Creditos</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ course.id }}</td>
            <td>{{ course.name | capfirst }}</td>
            <td>{{ course.credits }}</td>
            <td>
              <a
                href="{% url 'academico:edit_course' course.id %}"
                class="btn btn-primary"
                >Editar</a
              >
            </td>
            <td>
              <a
                href="{% url 'academico:delete_course' course.id %}"
                class="btn btn-danger btn-delete"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/manage_courses.js' %}"
{% endblock  %}
